
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="/assets/forfacebook.png" />

    <title>Abdelnasser Rashid for Cook County Commissioner</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/styles.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109908173-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109908173-1');
    </script>

  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="logo"><img src="/assets/rashidforcook.png"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/why-i-am-running">Why I'm Running</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/register-to-vote#">Register to Vote</a></li>
            <li><a href="https://secure.actblue.com/donate/rashidforcook">Contribute</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      {{ content }}
    </div>
    
    <footer>
        <section>
        <p>
            Paid for by Friends for Rashid. A copy of our report filed with the State Board of Elections is (or will be) available on the Board’s official website (www.elections.il.gov) or for purchase from the State Board of Elections, Springfield, Illinois. 
            Contributions are not tax deductible.
</p>
      </section>
    </footer>
  </body>
</html>
